
*{
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
}

body{
    background-color: #FFF7F7;
    position: relative;
    overflow: hidden;
}

.header-awning{
  
    display: flex;/*makes the boxes from left to right*/
    width: 100%;
    overflow: hidden;
    justify-content: center;
    position: absolute;
}
.yellow{
    background-color: #FFF0BF;
    width: 90px;
    height: 148px;
    border-radius: 0px 0px 50px 50px;
    flex-shrink: 0; 
}

.pink{
   
    background-color: #FFBFCA;
    width: 90px;
    height: 148px;
    border-radius: 0px 0px 50px 50px;
    flex-shrink: 0; 
}

.nav-links{
    
    height: 40px;
    display: flex;
    border-radius: 50px;
    width: 95%;
    position: absolute;
    background-color: white;
    justify-content: center;
    align-items: center;
    column-gap:300px;
    margin-top: 30px;
    list-style: none;
   
    left: 50%; /*will make the white llong pill position on middle*/
    transform: translateX(-50%);

    font-family: "Cause", cursive;
    font-weight:800;
    color: #E47173;

    box-shadow:2px 2px 4px rgb(165, 165, 165);
}



.logo-icon{
    display: flex;
    width: 43px;
    height: 43px;
    align-items: center;
    
}

.logo-font{
  display: flex;
  align-items: center;
   
}

.font-design{
   font-family: "Berkshire Swash", serif;
   color: #FFBFCA;
}



.bg-utensils{
  
}

.whisk{
    height: 400px;
}

.spoon{
    height: 350px;
    margin: 0 0 0 742px;
}

.roller{
    height: 400px;
}

.spatula{
    height: 350px;
    margin-left: 850px;
}


.main-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    text-align: center;
    justify-content: center;
}


.main-title h1{
    font-size:120px;
    font-family: "Berkshire Swash", serif;
    color: #FFBFCA;
    font-weight: 100;
    text-shadow: 
    -1px -1px 2px rgba(130, 60, 75, 0.5), /* Dark inner top/left shadow */
     1px  1px 2px rgba(255, 255, 255, 0.8);
}

.main-title p{
    font-family: "Baloo 2", cursive;
    font-size: 24px;
   
}

.main-title button{
    
    height: 43px;
    width: 378px;
    border-radius: 50px;
    margin-bottom: -60px;
    background-color: #FFBFCA;
    border: none;
    font-family: "Baloo 2", cursive;
    font-weight: 700;
    font-size: 30px;
    color: #FFF7F7;
    text-shadow: 2px 2px 4px rgb(165, 165, 165);
}





















